:root {
    --md-primary-fg-color:        #34312c;
    --md-primary-fg-color--light: #ffb056;
    --md-primary-fg-color--dark:  #FC8500;
  }
/* Change the link color and add an underline */




/* Links in the content of the documentation */
.md-content a {
  color: #FC8500; /* Your preferred color */
  text-decoration: underline; /* Underline links */
}

.md-content a:hover {
  color: #FC8500; /* Optional hover color */
  text-decoration: underline;
}